<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 pb-5 bg-white rounded border">
        <h2 class="mt-4 font-weight-bold">Please enter user info</h2>
        <hr>
      <form *ngIf="form" [formGroup]="form">
          <div class="form-group">
            <label for="position">Position</label>
            <input
              formControlName="position"
              type="text"
              class="form-control"
              [class.is-invalid]="!form.get('position').valid && (form.get('position').touched || form.get('position').dirty)"
              placeholder="Developer"
            />
            <div *ngIf="isDisplayError('position', 'required')" class="invalid-feedback">
              Field required
            </div>
            <div *ngIf="isDisplayError('position', 'minlength')" class="invalid-feedback">
                Minimun 4 characters
            </div>
            <div *ngIf="isDisplayError('position', 'maxlength')" class="invalid-feedback">
              Maximum 10 characters
            </div>
          </div>

          <div>
            <button *ngIf="cancelButton" type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            <button *ngIf="!cancelButton" type="button" class="btn btn-primary" (click)="resetForm(form)">Clean</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 2px;" [disabled]="!form.valid" (click)="onSave()">Save</button>
          </div>
      </form>
  </div>
  </div>
