<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 pb-5 bg-white rounded border">
        <h2 class="mt-4 font-weight-bold">Please enter user info</h2>
        <hr>
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSave()">
          <div class="form-group">
            <label for="position">Position</label>
            <input
              formControlName="position"
              type="text"
              class="form-control"
              [class.is-invalid]="!form.get('position').valid && (form.get('position').touched || form.get('position').dirty)"
              placeholder="Developer"
            />
            <div *ngIf="isDisplayError('position', 'required')" class="invalid-feedback">
              Field required
            </div>
            <div *ngIf="isDisplayError('position', 'minlength')" class="invalid-feedback">
                Minimun 4 characters
            </div>
            <div *ngIf="isDisplayError('position', 'maxlength')" class="invalid-feedback">
              Maximum 10 characters
            </div>
          </div>
          <div class="form-group">
            <label for="office">Office</label>
            <input
            formControlName="office"
            type="text"
            class="form-control"
            placeholder="Los Angeles"
             [class.is-invalid]="!form.get('office').valid && (form.get('office').touched || form.get('office').dirty)"
            />
              <div *ngIf="isDisplayError('office', 'required')" class="invalid-feedback">
                Field required
              </div>
              <div *ngIf="isDisplayError('office', 'maxlength')" class="invalid-feedback">
                Maximum 20 characters
              </div>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input
            [appJustNumber]="true"
            formControlName="salary"
            type="text"
            class="form-control"
            placeholder="10000"
             [class.is-invalid]="!form.get('salary').valid && (form.get('salary').touched || form.get('salary').dirty)"
            />
              <div *ngIf="isDisplayError('salary', 'required')" class="invalid-feedback">
                Field required
              </div>
              <div *ngIf="isDisplayError('salary', 'pattern')" class="invalid-feedback">
                Wrong numbers
              </div>
              <div *ngIf="isDisplayError('salary', 'maxlength')" class="invalid-feedback">
                Maximum 6 digits
              </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="example@example.com"
             [class.is-invalid]="!form.get('email').valid && (form.get('email').touched || form.get('email').dirty)"
            />
              <div *ngIf="isDisplayError('email', 'required')" class="invalid-feedback">
                Field required
              </div>
              <div *ngIf="isDisplayError('email', 'email')" class="invalid-feedback">
                Wrong email
              </div>
              <div *ngIf="isDisplayError('email', 'maxlength')" class="invalid-feedback">
                Maximum 20 characters
              </div>
          </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                formControlName="firstName"
                type="text"
                class="form-control"
                placeholder="John"
                 [class.is-invalid]="!form.get('firstName').valid && (form.get('firstName').touched || form.get('firstName').dirty)"
              />
              <div *ngIf="isDisplayError('firstName', 'required')" class="invalid-feedback">
                Field required
              </div>
              <div *ngIf="isDisplayError('firstName', 'maxlength')" class="invalid-feedback">
                Maximum 20 characters
              </div>
          </div>
          <div class="form-group">
            <label for="lastName">Lastname</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              placeholder="Doe"
               [class.is-invalid]="!form.get('lastName').valid && (form.get('lastName').touched || form.get('lastName').dirty)"
            />
            <div *ngIf="isDisplayError('lastName', 'required')" class="invalid-feedback">
              Field required
            </div>
            <div *ngIf="isDisplayError('lastName', 'maxlength')" class="invalid-feedback">
              Maximum 20 characters
            </div>
          </div>
          <div>
            <button *ngIf="cancelButton" type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            <button *ngIf="!cancelButton" type="button" class="btn btn-primary" (click)="resetForm(form)">Clean</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 2px;" [disabled]="!form.valid" (click)="onSave()">Save</button>
          </div>
      </form>
  </div>
  </div>
</div>

