<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="row">
              <div class="input-field col s12">
                <input
                  formControlName="position"
                  type="text"
                  class="form-control"
                  [class.invalid]="!form.get('position').valid && form.get('position').touched"
                  placeholder="Position"
                />
                form.controls.position.errors {{ getForm() }}
                  <div *ngIf="isDisplayError('position', 'required')">
                    <p class="invalid">Field required</p>
                  </div>
                  <div *ngIf="isDisplayError('position', 'minlength')">
                      <p class="invalid">Minimun 4 characters</p>
                  </div>
                  <div *ngIf="isDisplayError('position', 'maxlength')">
                    <p class="invalid">Maximum 10 characters</p>
                  </div>
              </div>
              <div class="input-field col s12">
                <input
                formControlName="office"
                type="text"
                class="form-control"
                placeholder="Office"
                [class.invalid]="!form.get('office').valid && form.get('office').touched"
                />
                  <div *ngIf="isDisplayError('office', 'required')">
                    <p class="invalid">Field required</p>
                  </div>
                  <div *ngIf="isDisplayError('office', 'maxlength')">
                    <p class="invalid">Maximum 20 characters</p>
                  </div>
              </div>
              <div class="input-field col s12">
                <input
                [appJustNumber]="true"
                formControlName="salary"
                type="text"
                class="form-control"
                placeholder="Salary"
                [class.invalid]="!form.get('salary').valid && form.get('salary').touched"
                />
                  <div *ngIf="isDisplayError('salary', 'required')">
                    <p class="invalid">Field required</p>
                  </div>
                  <div *ngIf="isDisplayError('salary', 'pattern')">
                    <p class="invalid">Wrong numbers</p>
                  </div>
                  <div *ngIf="isDisplayError('salary', 'maxlength')">
                    <p class="invalid">Maximum 4 digits</p>
                  </div>
              </div>
              <div class="input-field col s12">
                <input
                formControlName="email"
                type="email"
                class="form-control validate"
                placeholder="Email"
                [class.invalid]="!form.get('email').valid && form.get('email').touched"
                />
                  <div *ngIf="isDisplayError('email', 'required')">
                    <p class="invalid">Field required</p>
                  </div>
                  <div *ngIf="isDisplayError('email', 'maxlength')">
                    <p class="invalid">Maximum 20 characters</p>
                  </div>
              </div>
                <div class="input-field col s12">
                  <input
                    formControlName="firstName"
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    [class.invalid]="!form.get('firstName').valid && form.get('firstName').touched"
                  />
                  <div *ngIf="isDisplayError('firstName', 'required')">
                    <p class="invalid">Field required</p>
                  </div>
                  <div *ngIf="isDisplayError('firstName', 'maxlength')">
                    <p class="invalid">Maximum 20 characters</p>
                  </div>
              </div>
              <div class="input-field col s12">
                <input
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  [class.invalid]="!form.get('lastName').valid && form.get('lastName').touched"
                />
                <div *ngIf="isDisplayError('lastName', 'required')">
                  <p class="invalid">Field required</p>
                </div>
                <div *ngIf="isDisplayError('lastName', 'maxlength')">
                  <p class="invalid">Maximum 20 characters</p>
                </div>
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button type="button" class="btn right" style="margin-left: 2px;" [disabled]="!form.valid">Save</button>
                  <button type="button" class="btn right">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7"></div>
  </div>
</div>
